@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Indie+Flower&family=Montserrat:wght@100&family=Press+Start+2P&display=swap');

html{
    font-family: "Indie Flower", "Press Start 2P", "Montserrat", "Agbalumo", sans-serif;
}


body {
    background-color: rgba(223, 190, 223, 0.838);
    margin: 0;
}

/* make every element be on top of homeBackground */


#home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    justify-items: center;
    gap: 15rem;
}



#homeBackground {
    height:100vh;
    filter: saturate(1.4);
    position:absolute;    
}


#homeVideo {
    width: 560px;
    height: 315px;
    border-radius: 16px;
    filter: drop-shadow(0 0 0.75rem rgb(57, 118, 159));
    grid-row: 3;
}



#recipeContainer{
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
    align-content: center;
    margin: 1rem 1rem;
    font-weight: bold;
    color:rgb(115, 127, 219);
    position: relative;
}

#pastaRecipe{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: rgb(196, 224, 255);
    border-radius: 16px;
    padding: 1rem;
}

#pastaVideo{
    width: 560px;
    height: 315px;
    border-radius: 16px;
    filter: drop-shadow(0 0 0.75rem rgb(57, 118, 159));
    outline: rgb(225, 235, 243) solid 6px;
}
/* header section */


#header {
    justify-content: space-evenly;
    grid-row: 1;
    position: relative;
    display: flex;
    align-items: center;
}

#header img{
    width: 10%;
}

#nadeCozy {
    transition: 0.5s;
    cursor: pointer;

}

#nadeCozy:hover {
    transform: scale(1.1);
    transition: 0.5s;
    filter: drop-shadow(0 0 0.75rem rgb(222, 86, 232));

}


#yuruLogo {
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

#yuruLogo:hover {
    transform: scale(1.1);
    transition: 0.5s;
    filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}

#rinCozy {
    transition: 0.5s;
    cursor: pointer;

}

#rinCozy:hover {
    transform: scale(1.1);
    transition: 0.5s;
    filter: drop-shadow(0 0 0.75rem rgb(50, 63, 160));

}


